$bp_small: 30em;
$bp_medium: 60em;
$bp_large: 90em;

@mixin x-small-only {
  @media (max-width: $bp_small) {
    @content;
  }
}

@mixin small {
  @media (min-width: $bp_small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $bp_medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $bp_large) {
    @content;
  }
}

/* Font stacks */
$base-fontstack: 'Spectral', serif;
$section-fontstack: 'Spectral SC', serif;
$heading-fontstack: 'Source Sans Pro', sans-serif;
$logo-fontstack: AllRoundGothic-Medium, sans-serif;

/* Colours */
$colour-grey--lighter: #f5f5f5;
$colour-grey--light:  #8e8e8e;
$colour-grey: #767676;
$colour-grey--dark: #686868;
$colour-pink: #f01d4f;

/* Global image paths */
$logo-signet: url('~assets/img/signetwhite.svg');
$logo-wave: url('~assets/img/wavewhite.svg');
$logo-wave--inverse: url('~assets/img/waveblack.svg');

/* Content width */
$content-width: 100vw;
$content-width--large: 90vw;
$content-width--x-large: 70vw;

/* Album banner config */
$album-banner__albums-shown--small: 4;
$album-banner__albums-shown--medium: 6;
$album-banner__albums-shown--large: 11;
$album-banner__total-albums: 22; /* If you change this variable you must change the nth-child selector in album-banner.css */
$album-banner__full-scroll-time: 300s;
$album-banner__album-width-raw--small: "100vw / #{$album-banner__albums-shown--small}";
$album-banner__album-width--small: calc(#{$album-banner__album-width-raw--small});
$album-banner__album-width-raw--medium: "100vw / #{$album-banner__albums-shown--medium}";
$album-banner__album-width--medium: calc(#{$album-banner__album-width-raw--medium});
$album-banner__album-width-raw--large: "100vw / #{$album-banner__albums-shown--large}";
$album-banner__album-width--large: calc(#{$album-banner__album-width-raw--large});

/* Site nav config */
$site-nav__menu-width--small: 75vw;
$site-nav__margin--small: 1.5rem;
$site-nav__bar-height: 63px;
$site-nav__bar-font-size--x-small: $site-nav__bar-height / 2.5;
$site-nav__bar-font-size--small: $site-nav__bar-height / 2;
$site-nav__signet-size--small: $site-nav__bar-font-size--small * 1.3;
$site-nav__signet-size--medium: calc(#{$album-banner__album-width-raw--medium} * 0.6);
$site-nav__signet-size--large: calc(#{$album-banner__album-width--large} * 1.05);
$site-nav__signet-gutter--small: $site-nav__signet-size--small * 0.2;
$site-nav__bar-width--large: $content-width--large;
$site-nav__bar-margin--large: calc((100vw - #{$site-nav__bar-width--large}) / 2);
$site-nav__bar-width--x-large: $content-width--x-large;
$site-nav__bar-margin--x-large: calc((100vw - #{$site-nav__bar-width--x-large}) / 2);

/* Site content config */
$site-content__underhang: 0.9;
$site-content__width: $content-width * $site-content__underhang;
$site-content__width--large: $content-width--large * $site-content__underhang;
$site-content__width--x-large: $content-width--x-large * $site-content__underhang;
$site-content__font--xx-large: 5rem;
$site-content__font--x-large: 3rem;
$site-content__font--large: 1.3rem;
$site-content__font--section-heading: 1.1rem;
$site-content__font: 1rem;
$site-content__font--small: 0.9rem;
$site-content__spacer--xx-large: 2em;
$site-content__spacer--x-large: 1.5em;
$site-content__spacer--large: 1em;
$site-content__spacer: 0.5em;
$site-content__spacer--small: 0.25em;

/* Listening parties config */
$listening-party__speaker-name-font: $heading-fontstack;
$listening-party__speaker-name-size: 0.9em;
$listening-party__message-font: $heading-fontstack;
$listening-party__message-width: 90%;
$listening-party__message-width--small: 55%;
$listening-party__message-width--medium: 35%;
$listening-party__message-width--large: 30%;
$listening-party__message-curve: 1em;
$listening-party__message-vertical-padding: 0.5em;
$listening-party__message-horizontal-padding: 0.75em;
$listening-party__message-margin: 0;
$listening-party__message-margin--medium: 16.5%;
$listening-party__message-background--speaker0: lightgrey;
$listening-party__message-colour--speaker0: black;
$listening-party__message-link-colour--speaker0: #800e29;
$listening-party__message-link-hover-colour--speaker0: lighten($listening-party__message-link-colour--speaker0, 10%);
$listening-party__message-background--speaker1: #9f5168;
$listening-party__message-colour--speaker1: white;
$listening-party__message-link-colour--speaker1: white;
$listening-party__message-link-hover-colour--speaker1: #ffe6e6;

@mixin site-content__subtext {
  font-size: $site-content__font--small;
  color: $colour-grey;
}

@mixin site-content__body-text {
  margin-bottom: $site-content__spacer--xx-large;
  line-height: $site-content__spacer--x-large;
  font-size: 1.1em;
  letter-spacing: -0.2px;
}

$site-content__content-size: 67%;

/* Review config */
$review__sidebar-size: calc(100% - #{$site-content__content-size});

@mixin score-wrap {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@mixin review__score-given {
  font-weight: 600;
}

@mixin review__score-possible {
  font-weight: 400;
  font-size: 0.77em;
  &:before {
    content: "/";
  }
}

/* Article config */
$article__featured-image-offset: 12.5%;
$article__featured-image-relative-size: ($article__featured-image-offset * 2) + $site-content__content-size;
$article__image-relative-size: 125%;
// $article__wrapped-image-offset: calc(#{$article__wrapped-image-offset} - 100%); Eh?

/* Footer config */
$site-foot__icon-size: 2em;
$site-foot__logo-size: $site-foot__icon-size * 1.5;
$site-foot__icon-margin: $site-foot__icon-size * 0.25;

/* line-styles */
$line-colour: $colour-grey--lighter;
$line-width: 2px;
@mixin line-styles($side: 'bottom') {
  #{"border-" + $side}: $line-width solid $line-colour;
}
@mixin hr-line-styles() {
  background: $line-colour;
  border: 0;
  height: $line-width;
}

@mixin section-heading {
  font-family: $section-fontstack;
  font-size: $site-content__font--section-heading;
  font-weight: 500;
  font-style: italic;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 18px 10px;
  @include line-styles('bottom');
  @include line-styles('top');
}

@mixin icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin logo {
  font-family: $logo-fontstack;
  text-transform: lowercase;
}

@mixin tag {
  display: inline-block;
  position: relative;
  font-family: $heading-fontstack;
  background: $colour-grey--lighter;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  color: $colour-grey--dark;
  transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
  &:hover, &:focus {
    background-color: $colour-grey--dark;
    color: $colour-grey--lighter;
  }
  a {
    text-decoration: none;
    @include overlayLink;
  }
}

@mixin overlayLink {
  position: static;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    bottom: 0;
    content: '';
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
  }
}

@mixin postLink {
  .post-link {
    position: relative;
    padding: 30px 0;
    font-family: $base-fontstack;
    font-size: $site-content__font--small;

    // We have to use a div wrapper because Safari doesn't handle images in flex uniformly
    .img-wrap {
      flex-grow: 2;
      flex-basis: 0;
      align-self: start;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .info {
      flex-grow: 3;
      flex-basis: 0;
    }

    .overlay-link {
      @include overlayLink;
    }

    h4 {
      font-family: $heading-fontstack;
      font-size: $site-content__font--large;
      font-weight: 600;
      line-height: normal;
      margin-top: 2px;
    }

    p {
      margin: 1em 0;
      font-size: 1.1em;
    }

    .author {
      font-family: $heading-fontstack;
      .name {
        font-weight: 600;
      }
    }
  }
}

@mixin postLinkFlex {
  .post-link {
    display: flex;
  }

  .img-wrap {
    margin-right: 10px;
  }
}
